<form action="/Blog/Save" method="post">

    <div class="form-floating mb-3">
        <input type="title" class="form-control" id="title" placeholder="title" name="blog_title">
        <label for="floatingInput">Title</label>
    </div>
    <div class="form-floating mb-3">
        <input type="author" class="form-control" id="author" placeholder="author" name="blog_author">
        <label for="floatingPassword">Password</label>
    </div>
    <div class="form-floating mb-3">
        <input type="content" class="form-control" id="content" placeholder="content" name="blog_content">
        <label for="floatingPassword">Content</label>
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
</form>